<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
</div>

<a routerLink="siparis">Sipariş</a> | 
<a routerLink="login">Giriş</a> 


<router-outlet></router-outlet>
